  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    

    <div class="container" style="padding:3rem;">
      <div class="offset-lg-4 col-lg-4 footer-newsletter">
        <!-- <h4>Our Newsletter</h4> -->
        <p>Subscribe to our job seeker mailing list</p>
        <form action="" method="post">
          <input class="form-control" type="email" name="email" placeholder="Enter your email address">
        </form>
      </div>
    </div>
  </footer><!-- #footer -->