<div class="modal-header">
  <h6 class="modal-title" id="modal-basic-title">Register</h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(null)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <input [(ngModel)]="user.name" type="text">
  <input [(ngModel)]="user.age" type="number"> -->
  <div class="row">
    <div class="col-4">
      <div id="profileImage" *ngIf="registerForm && registerForm.value">
        <img [src]="registerForm.value.profilePic || 'https://image.flaticon.com/icons/png/512/64/64096.png'" alt="">
        <span *ngIf="profilePicError==true">Image size should be 310*325</span>
        <button id="imagePicker" type="file" (click)="fileInput.click()">upload your photo</button>
        <span id="fileInput">
				<input type="file" #fileInput accept="image/*" (change)="changeProfilePic($event)" />
			</span>
      </div>
    </div>
    <div class="col-offset-1 col-7">
      <form [formGroup]="registerForm" #ngForm="ngForm">
        <div class="row form-group">
          <div class="col">
            <input autocomplete="off" type="text" pattern="^[A-Za-z]+$" formControlName="firstName" class="form-control" id="firstNameInput" placeholder="First name">
            <div class="alert"  *ngIf="ngForm.submitted || registerForm.controls['firstName'].touched">
                <div [hidden]="!registerForm.controls['firstName'].hasError('required')">
                  first name is Required
                </div>
                <div [hidden]="!registerForm.controls['firstName'].hasError('pattern')">
                    Only Alphabts are allowed
                  </div>
                
                <div [hidden]="!registerForm.controls['firstName'].hasError('maxlength')">
                  First Name can't be more than 20 characters
                </div>
            </div>
          </div>
          <div class="col">
            <input autocomplete="off" type="text" formControlName="lastName" class="form-control" id="lastNameInput" placeholder="Last name">
          </div>
        </div>
        <div class="form-group">
          <input autocomplete="off" type="email" formControlName="email" class="form-control" id="emailInput" placeholder="Email">
        </div>
        <div class="form-group">
          <input autocomplete="off" type="text" formControlName="mobile" class="form-control" id="mobileInput" placeholder="eg. 9673412006">
        </div>
        <div class="form-group">
          <label>Age</label>
          <ng5-slider formControlName="age" [options]="options"></ng5-slider>
        </div>
        <div class="form-group">
          <select id="inputState" formControlName="state" class="form-control">
            <option [value]="state" *ngFor="let state of stateList">{{state}}</option>
          </select>
        </div>
        <div class="form-group">
          <select id="inputState" formControlName="country" class="form-control">
            <option [value]="country" *ngFor="let country of countryList">{{country}}</option>
          </select>
        </div>
        <div class="form-group">
          <select id="inputState" formControlName="addressType" class="form-control">
            <option [value]="address" *ngFor="let address of addressType">{{address}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="registerForm.controls['addressType'].value=='home'">
          <input type="text" formControlName="address1" class="form-control" id="address2" placeholder="Address 1">
          <br/>
          <input type="text" formControlName="address2" class="form-control" id="address1" placeholder="Address 2">
        </div>
        <div class="form-group" *ngIf="registerForm.controls['addressType'].value=='company'">
          <input type="text" formControlName="address1" class="form-control" id="address2" placeholder="Company Address 1">
          <br/>
          <input type="text" formControlName="address2" class="form-control" id="address1" placeholder="Company Address 2">
        </div>
        <div class="form-group">
          <input type="text" autocomplete="off" formControlName="interest" class="form-control" (keyup.enter)="addTag()" id="interestInput"
            placeholder="tags">
        </div>
        <div class="form-group" id="tagList">
          <div class="tags" *ngFor="let tag of registerForm.controls['tags'].value">
            <p (click)="removeItem(tag)">{{tag}}
              <i class="fa fa-times"></i>
            </p>
          </div>
        </div>
        <br/>
        <div class="form-group" id="buttonSection">
          <button id="cancel" class="btn btn-secondary">Cancel</button>
          <button id="submit" name="submit" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
      </form>
    </div>
  </div>

</div>